@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Blackside';
  src: url('./Blackside.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "MounirI";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(0.25 0.006 285.885);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(50% 0.213 27.518);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(97% 0 0);
  --color-secondary-content: oklch(14% 0.004 49.25);
  --color-accent: oklch(43% 0.078 188.216);
  --color-accent-content: oklch(97% 0 0);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(97% 0 0);
  --color-info: oklch(98% 0.016 73.684);
  --color-info-content: oklch(20% 0 0);
  --color-success: oklch(26% 0.007 34.298);
  --color-success-content: oklch(97% 0 0);
  --color-warning: oklch(39% 0.141 25.723);
  --color-warning-content: oklch(97% 0 0);
  --color-error: oklch(27% 0.041 260.031);
  --color-error-content: oklch(55% 0.046 257.417);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


@layer components {
  .btn-secondary {
      padding: 20px !important;
      margin-top: 5px !important;
      height: 10px !important;
      width: 45px !important;
      border-color: rgb(237, 234, 234) !important;
      border-radius: 20px !important;
  }

  .btn-primary {
    padding: 20px !important;
    margin-top: 5px !important;
    height: 10px !important;
    width: 45px !important;
    border-color: rgb(237, 234, 234) !important;
    border-radius: 20px !important;
  }

  .btn-primary2 {
    padding: 20px !important;
    margin-top: 5px !important;
    height: 10px !important;
    width: 95px !important;
    color: oklch(50% 0.213 27.518) !important;
    border-color: rgb(237, 234, 234) !important;
    border-radius: 20px !important;
  }

  .btn-secondary2 {
    padding: 20px !important;
    margin-top: 5px !important;
    height: 10px !important;
    width: 250px !important;
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    border-radius: 20px !important;
  }
}